body {
  background-color: #121212;
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 40rem auto;
  gap: 10px;
}
#logo {
  width: 100px;
  margin-left: 10px;
}

.menu-link {
  color: #e0e0e0;
  font-size: 2em;
  text-align: center;
  margin: auto 0 5px 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: large;
  font-style: normal;
  text-shadow: #d4af37 1px 0 10px;
}

.menu-link:hover {
  text-shadow: #fcd865 0 0 50px;
}

.home {
  color: #e0e0e0;
  font-size: 3em;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: auto 0 5px 0;
  text-shadow: 0 0 20px #d4af37;
}

.home:hover {
  text-shadow: 0 0 100px #fcd865;
}

/*header*/
#header {
  background-image: url("../images/heade-background.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-area: 2/1/2/8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.movie-box {
  padding: 10px;
  border-radius: 5px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/
  width: 10rem;
  text-align: center;
}

.movie-box img {
  width: 100%;
  border-radius: 5px;
}

.movie-title {
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 18px;
  color: #f1c40f;
  font-family: "Lato", sans-serif;
}

.movie-ranking {
  font-size: 16px;
  color: #c0c0c0;
}

.checked {
  color: #f1c40f;
}

.movie-row1 {
  justify-items: center;
  margin-top: 7rem;
}

.movie-row2 {
  justify-items: end;
  margin-top: 10rem;
}

.movie-row3 {
  justify-items: end;
  margin-top: 13rem;
}

.button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #856b16, #634040);
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #121212;
  font-family: "Arial", sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.movie-box hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #121212,
    #d4af37,
    #c0c0c0,
    #121212
  );
  margin: 10px 0;
}

.movie-year {
  color: #e0e0e0;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.stylish-line {
  margin-top: 20px;
  /* Adjust as needed for spacing */
  border: none;
  height: 5px;
  width: 90%;
  /* Thickness of the line */
  background-image: linear-gradient(
    to right,
    #121212,
    #d4af37,
    #c0c0c0,
    #121212
  );
  /* Gold to silver gradient */
}
/*Content*/
#content {
  grid-area: 3/1/3/8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-box {
  position: relative;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin: 20px 20px;
  font-family: "Lato", sans-serif;
  color: #e0e0e0;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* Optional: if you want rounded corners */
}

.image-box .text-overlay {
  position: absolute;
  bottom: 0;
  /* Position the text at the bottom of the image */
  background: rgba(0, 0, 0, 0.7);
  /* Semi-transparent overlay */
  color: #ffffff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  /* Optional: if you want rounded corners */
}

/* Hover Effects */
.image-box:hover img {
  transform: scale(1.05);
  /* Scale the image up slightly */
}

.image-box:hover .text-overlay {
  background: rgba(0, 0, 0, 0.85);
  /* Make the overlay darker */
}
